<!doctype html>
<html>
<head>
	<title>CS602</title>
	<style>
		table, th, td {
   border: 1px solid black;
}
body{
	margin: 0;
}
header{
	padding: 20px;
    background: #3d3d3d;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.container{
	padding: 10px;
}
	</style>
</head>
<body>
	<header><img src="https://www.bu.edu/brand/files/2012/10/master_logo.gif" /> CS602 HW - Jeffrey Mccommas</header>
	<div class="container">
		<a href="/addEmployee">Add Employee</a>
<hr/>
	{{{body}}}
</div>
</body>
</html>