<div class="addemployeeform">
    <h2>Add a new employyee</h2>
    <form method="POST" action="/addEmployee">
     <div>
    <label>First Name</label>
    <input required type="text" name="firstName">
    </div>   
    <div>
    <label>Last Name</label>
    <input required type="text" name="lastName">
    </div>
    <input type="submit" value="Submit">
    </form>
</div>